// Widescreens
@include mediaXl {
  .projects-contain {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaLg {
  .projects-contain {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-me-contain {
    flex-flow: column-reverse wrap;
    align-items: center;

    .pic {
      width: 20rem;
    }
  }
}

// Tablets & Small Laptops
@include mediaMd {
  .content {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 100vh;
    transform: translate3d(0, -100%, 0);
    font-size: 24px;
  }

  .about-me-contain {
    flex-flow: column-reverse wrap;
    align-items: center;

    .pic {
      width: 20rem;
    }
  }

  .projects-contain {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones
@include mediaSm {
  .content {
    padding: 2rem;

    .lg-heading {
      font-size: 5rem;
    }
  }

  .projects-contain {
    grid-template-columns: 1fr;
  }

  h3 {
    font-size: small;
  }
}
